<div class="container">
  <div class="form-container">
    <h2>Add new</h2>
    <form>
      <input type="text" placeholder="Title" name="title" [(ngModel)]="newTask.title" [disabled]="isProcessing">
      <input class="date" type="date" name="deadline" [(ngModel)]="newTask.deadline" [disabled]="isProcessing">
      <input class="submit" type="submit" value="ADD" (click)="addTask()" [disabled]="isProcessing">
    </form>
  </div>
  <hr>
  <table>
    <tr>
      <th>Title</th>
      <th>Deadline</th>
      <th>Completed</th>
    </tr>
    <tr *ngFor="let task of tasks;">
      <td [ngClass]="{'completed': task.completed}">{{task.title}}</td>
      <td [ngClass]="{'completed': task.completed}">{{(task.deadline ? task.deadline : "")}}</td>
      <td><input type="checkbox" [(ngModel)]="task.completed" (change)="handleChange(task)" /></td>
    </tr>
    <tr>
      <td  colspan="3">
        <button (click)="archiveCompleted()" [disabled]="isProcessing"> ARCHIVE COMPLETED</button>
      </td>
    </tr>
  </table>
</div>
