<div class="container">
  <div class="form-container">
    <mat-card *ngFor="let task of tasks;" class="card">
      <mat-card-header>
        <mat-card-title>{{task.title}}</mat-card-title>
        <mat-card-subtitle>{{(task.deadline ? task.deadline : "")}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        &nbsp;&nbsp;&nbsp;Delete &nbsp;&nbsp;-> <button mat-icon-button (click)="deleteTask(task)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
